<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top height56" id="mainNavAdm">
<ul class="navbar-nav navbar-sidenav" id="exampleAccordionAdm">

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administración Productos">
        <a class="nav-link" data-toggle="modal" data-target="#commentModal">
            <i class="fa fa-fw fa-comment"></i>
            <span class="nav-link-text">Administración Productos</span>
            <input ref="userEmailGlobal" type="hidden" value="{{ user.email }}" v-show="false"/>
        </a>
    </li>


</ul>

</nav>
