{% load static %}
<div class="content-wrapper" style="display:block" id="listatienda">
    <template v-for="shopItemList in shopListMap" v-if="!loading">
        <div class="dropdown-divider"></div>
        <a @click="cambiarTiendAd([shopItemList])" class="dropdown-item " href="#">
            <!--<img width="100" height="40" src="images/@shopItemList.nombre"  ${shopItemList.nombre}>-->
            <span class="text">
                <img v-bind:src="shopItemList.imagen" width="40" height="40"> ${shopItemList.nombre}
              </span>
            <!--<span class="badge badge-pill badge-warning">${Object.keys(shopList.productos).length}</span>-->
        </a>
    </template>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">detalle</th>
      <th scope="col">codigotienda</th>
        <th scope="col"></th>
    </tr>
  </thead>
         <tbody>
    <template v-for="shopList in shopWS" v-if="!loading">
    <tr>
      <th scope="row">${shopList.idproducto}</th>
      <td>${shopList.nombre}</td>
      <td>${shopList.detalle}</td>
      <td>${shopList.codigotienda}</td>
        <td><button onclick="myFunction()" type="button" title="Buscar Producto" data-toggle="modal" data-target=".modal-shop-list" class="btn btn-success btn-sm">Buscar</button></td>
    </tr>
    </template>
  </tbody>
</table>
</div>
