{% extends 'base.html' %}


{% block content %}
<div class="sign-in-container">
    <div class="container">
            <div class="row" style="text-align:center;">
                    <div class="col-md">
                        <h2>Restablecer contraseña</h2>
                    </div>
            </div>
        <form action="" method="post" class="form-horizontal" id="formx">{% csrf_token %}
            <fieldset>
               
                <div class="form-group row">
                    <div class="col-md col-sm-10 text-info">
                        Introduzca su correo electrónico.
                    </div>
                </div>

                {% for field in form %}
                    {% include 'users/form_field.html' %}
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm col-sm-10">
                        <button id='submit' class="btn btn-primary" type="submit" data-loading-text="Cargando..." accesskey="Enter">Restablecer mi contraseña</button>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                document.read('#formx :input:enabled:visible:first').focus();
            </script>
        </form>
    </div>
</div>
{% endblock %}
