{% extends 'base.html' %}


{% block content %}
    <div class="sign-in-container">
            <!-- contenedor principal -->
        <div class="container">
                <!-- user authentication validation -->
                <!-- fila de titulo -->
                <div class="row">
                        <div class="col-md">
                            <h3>Contraseña restablecida con éxito.</h3>
                            <p>Te hemos enviado un enlace a tu dirección de correo, para recuperar tu contraseña</p>
                        </div>
                </div>
        </div>
    </div>
{% endblock %}