{% extends 'base.html' %}


{% block content %}
<div class="sign-in-container">
    <div class="container">
            <div class="row" >
                    <div class="col-md">
                            <h3>Contraseña restablecida con éxito.</h3>
                            <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
                        <a href="{% url 'sign_in' %}" class="btn btn-primary">Iniciar Sesión</a>
                    </div>
                </div>
        
    </div>
</div>
{% endblock %}