{% extends 'base.html' %}


{% block content %}
<div class="sign-in-container">
    <!-- contenedor principal -->
    <div class="container">

    {% if validlink %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>Contraseña restablecida con éxito.</legend>
                
                 <!-- fila de titulo -->
            <div class="form-group row">
                    <div class="col-md">
                        <h2>Establezca su nueva Contraseña</h2>
                    </div>
                </div>
                    {% include 'users/form_field.html' %}
               
                    <div class="form-group row">
                            <div class="col-sm-8 offset-sm-1 row" >
                                    <div>
                                        <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
                                    </div>
                             </div>
                    </div>

            </fieldset>
            <script type="text/javascript">
                document.forms[1].elements[2].focus();
            </script>
        </form>
    {% else %}
        <h3>La contraseña no fué restablecida.</h3>
        <p>
            Enlace para restablecer contraseña no válido, posiblemente porque ya se utilizó. Por favor solicite restablecer contraseña de nuevo.
        </p>
    {% endif %}

    </div>
</div>
{% endblock %}